.App{
    width: 100%;
    height:max-content;
        position: absolute;
        margin: 0px;
        background: var(--Background_color) ;
        display: flex;
        flex-direction: column;
}
.Title_Text{
    position: absolute;
    left:25px !important;
    color: var(--Text-color);
    /* margin-left: 20px; */
    font-size: 20px;
    font-weight: 500;
}
